{% extends  "base.html.twig" %}
{% block body %}
    <form action="" class="search">
        <a href="javascript" class="icon"></a>
        <input type="search" name="Search" id="search" placeholder="Search">

        <input id="submit" value="Enviar" type="submit">
        <label for="submit" class="submit"></label>
    </form>
    <div class="categoria">
        <h2>Cromos de los jugadores</h2>
        <div class="carousel-wrapper" width="500px" height="500px;">
            <div class="carousel" data-flickity style="">
                {% for player in players %}
                    <div class="carousel-cell" style="">
                        <img class="img" style="margin: auto; margin-right:auto;"
                             onerror="this.src='images/missing_image.png'"
                             src="images/media/{{ player.name }}{{ player.lastname }}_media.png"/>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

    <div style="margin-top:8rem;">
        <h2>Más contenido</h2>
        <div style="font-size:16px;">
            Para poder acceder a más contenido tienes a tu disposición el facebook del equipo.
        </div>
        <div style="font-size:16px;">
            <a href="https://www.facebook.com/veterans.montserrat.7">Haz click aquí para ir al facebook</a>
        </div>
    </div>

{% endblock %}
{% block css_extra %}
    #submit{
    background-color: #BAF04F;
    margin-top: 40px;
    }
    .search{
    margin-left: 400px;
    }
    .categoria{
    margin-top: 50px;
    }
    .categoria2{
    margin-top: 30px;
    }
    .img{
    width: 300px;
    heith: 300px;
    }
    .flickity-page-dots{
    margin-left: -50px;
    }
    .flickity-slider{
    margin-left: -300px;
    }


    .carousel-wrapper{
        text-align: center;
        margin: 5% 0 0 0;
        background-color: #FFFFFF;
        box-shadow: 0px 12px 39px -19px rgba(0, 0, 0, 0.75);
        overflow: hidden;
        width:1000px;
        height:300px;
    }

{% endblock %}
