{% extends  "base.html.twig" %}
{% block body %}
    <div class="card-deck">
        <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" style="height:150px;width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Jornada 7</h5>
                <p class="card-text">Crónica del partido de la jornada 7 contra Junior</p>
                <a download href="J7.pdf" class="btn">Leer más</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" style="height:150px;width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Jornada 8</h5>
                <p class="card-text">Crónica del partido de la jornada 8 contra United Veteranos</p>
                <a download href="J8.pdf" class="btn">Leer más</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" style="height:150px;width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Jornada 9</h5>
                <p class="card-text">Crónica del partido de la jornada 9 contra Schneider Vet</p>
                <a download href="J9.pdf" class="btn">Leer más</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" style="height:150px;width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Jornada 10</h5>
                <p class="card-text">Crónica del partido de la jornada 10 contra Hamb Blanco y negro</p>
                <a download href="J10.pdf" class="btn">Leer más</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="images/logo.png" alt="Card image cap" style="height:150px;width: 150px;">
            <div class="card-body">
                <h5 class="card-title">Jornada 11</h5>
                <p class="card-text">Crónica del partido de la jornada 11 contra CD Malilla</p>
                <a download href="J11.pdf" class="btn">Leer más</a>
            </div>
        </div>
    </div>>
    {#<div class="jumbotron columna1 col-sm-3">#}
    {#<h3 id="textocoche">Plancha</h3>#}
    {#<img height="200px" width="200px" id="coche1" src="images/logo.png">#}
    {#<p class="lead">#}
    {#<div class="dropdown">#}
    {#<div class="divspoiler col-sm-3">#}
    {#<input type="button" class="btn btn-danger" id="button1" value="Mostrar"#}
    {#onclick="showNew('div1','button1');">#}
    {#</div>#}
    {#<div class="spoiler" id="div1" style="display: none">#}
    {#<br><br>#}
    {#<div id="contenedor">#}
    {#<div class="span4"><b>60</b>#}
    {#<small><i class="fas fa-heart"></i></small>#}
    {#</div>#}
    {#<div id="contenidos">#}
    {#<div id="principal">#}
    {#In our workshop we make major repairs, among our specialties is the plate.#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="jumbotron columna2 col-sm-3">#}
    {#<h3 id="textocoche">Plancha</h3>#}
    {#<img height="200px" width="200px" id="coche1" src="images/logo.png">#}
    {#<p class="lead">#}
    {#<div class="dropdown">#}
    {#<div class="divspoiler col-sm-3">#}
    {#<input type="button" id="button2" class="btn btn-danger" value="Mostrar"#}
    {#onclick="showNew('div2','button2');"></div>#}
    {#<div>#}
    {#<div id="div2" class="spoiler" style="display: none">#}
    {#<br><br>#}
    {#<div id="contenedor">#}
    {#<div class="tablas" style="text-align: left">#}
    {#<div class="row-fluid">#}
    {#<div class="span4"><b>60</b>#}
    {#<small><i class="fas fa-heart"></i></small>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div id="contenidos">#}
    {#<div id="principal">#}
    {#In our workshop we make major repairs, among our specialties is the plate.#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div class="jumbotron columna3 col-sm-3">#}
    {#<h3 id="textocoche">Plancha</h3>#}
    {#<img height="200px" width="200px" id="coche1" src="images/logo.png">#}
    {#<p class="lead">#}
    {#<div class="dropdown">#}
    {#<div class="divspoiler col-sm-3">#}
    {#<input type="button" class="btn btn-danger" value="Mostrar"#}
    {#id='button3' onclick="showNew('div3','button3');"/>#}
    {#</div>#}
    {#<div>#}
    {#<div class="spoiler" id="div3" style="display: none">#}
    {#<br><br>#}
    {#<div id="contenedor">#}
    {#<div class="tablas" style="text-align: left">#}
    {#<div class="row-fluid">#}
    {#<div class="span4"><b>60</b>#}
    {#<small><i class="fas fa-heart"></i></small>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#<div id="contenidos">#}
    {#<div id="principal">#}
    {#In our workshop we make major repairs, among our specialties is the plate.#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
    {#</div>#}
{% endblock %}


{% block css_extra %}
    <style>
        img {

        }

        .card {
            background-color: #343a40;
            margin-top: 15px;
        }

        .btn {
            background-color: #BAF04F;
            color: white;
        }
    </style>
{% endblock %}
