{% extends  "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block scripts_extra %}
{% endblock %}



{% block body %}
<h1>Usuarios</h1>
<ul id="players">
    {% for player in players %}
    <div class="col-sm-12">
        <div class="columna1 col-sm-5">
            <img height="100px" width="100px" id="coche1" src="images/{{player.name}}{{player.lastname}}.png">
            <p class="lead">
                <div class="divspoiler col-sm-5">
                <table>
                    <tr>
                        <th>Nombre: </th>
                        <th><li>{{ player.name }} </li></th>
                    </tr>
                    <tr>

                        <td>Posicion: </td>
                        <td><li>{{ player.position }} </li></td>
                    </tr>
                </table>
                </div>
        </div>
    </div>
    {% endfor %}
{% endblock %}

{% block css_extra %}


{% endblock %}
