{% extends  "base.html.twig" %}

{% block stylesheets %}
{% endblock %}

{% block scripts_extra %}
{% endblock %}

{% block body %}
    <div class="col-md-3 col-sm-3"></div>
    <div class="col-md-6 col-sm-6">
        <div class="carousel-wrapper">
            <div class="carousel" data-flickity>
                <div class="carousel-cell">
                    <img class="img_carousel" style="margin: auto"
                         src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="/>
                    <button class="btn-primary">Ver estadísticas</button>
                </div>
                <div class="carousel-cell">
                    <img class="img_carousel" style="margin: auto"
                         src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="/>
                    <button class="btn-primary">Ver estadísticas</button>
                </div>
                <div class="carousel-cell">
                    <img class="img_carousel" style="margin: auto"
                         src="https://images.unsplash.com/photo-1464305795204-6f5bbfc7fb81?dpr=2&auto=format&fit=crop&w=1500&h=1000&q=80&cs=tinysrgb&crop="/>
                    <button class="btn-primary">Ver estadísticas</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block css_extra %}


{% endblock %}
