{% extends  "base.html.twig" %}

{% block scripts_extra %}
{% endblock %}

{% block body %}
    <h1>Plantilla</h1>
    {% for player in players %}
        <div class="col-sm-12">
            <div class="columna1 col-sm-5">
                <ul id="players">
                    <img height="200px" width="100px"
                         src="images/roster/{{ player.name}}{{player.lastname}}_roster.png">
                    <p class="lead">
                    <div class="divspoiler col-sm-5">
                        <table>
                            <tr>
                                <th>Nombre:</th>
                                <th>
                                    <li>{{ player.name }}</li>
                                </th>
                            </tr>
                            <tr>
                                <td>Posicion:</td>
                                <td>
                                    <li>{{ player.position }}</li>
                                </td>
                            </tr>
                        </table>
                    </div>
                </ul>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block css_extra %}

  img {
    border-radius: 10px;
  }


{% endblock %}
